/*** NAVBAR AND ELEMENTS STYLE ***/
.navbar {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: var(--secondary-color);
    padding: 0 5%;
    box-shadow: 0 0 0.6rem #000;
}
/* .navbar .nav-links {} */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 1.2rem;
}
.nav-links ul li a,
.nav-links ul li a:link,
.nav-links ul li a:visited,
.nav-links ul li a:active {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
.navbar .nav-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}
.nav-login a,
.nav-login a:link,
.nav-login a:visited,
.nav-login a:active {
    cursor: pointer;
    border-radius: .6rem;
    padding: .4rem .8rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 200ms;
}
.nav-login a:hover:not(.logged) {
    outline: 0.2rem solid var(--primary-color);
    outline-offset: -0.2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.nav-login a.logged,
.nav-login a.logged:link,
.nav-login a.logged:visited,
.nav-login a.logged:active {
    background: none;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

/* COLLAPSIBLE MENU */
#collapseMenu,
label[for="collapseMenu"] {
    display: none;
}
@media (max-width: 598px) {
    label[for="collapseMenu"] {
        display: block;
        cursor: pointer;
    }
    
    .navbar .nav-links {
        display: flex;
        opacity: 0;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color);
        padding: 1rem 0;
        transition: 500ms;
    }
    .nav-links ul {
        flex-direction: column;
        justify-content: center;
    }
    .nav-links ul li {
        display: flex;
        justify-content: center;
    }
    
    #collapseMenu:checked ~ .nav-links{
        opacity: 1;
        z-index: -2;
        height: 230%;
        box-shadow: 0 0 0.6rem #000;
    }
    #collapseMenu:not(:checked) ~ .nav-links a {
        pointer-events: none;
    }
    #collapseMenu:checked ~ label[for="collapseMenu"]{
        outline: 0.15rem solid var(--primary-color);
        border-radius: .4rem;
    }
}

/* RESPONSIVINESS */
@media (max-width: 380px) {
    .navbar .nav-logo{
        font-size: .8rem;
    }
    .nav-login a,
    .nav-login a:link,
    .nav-login a:visited,
    .nav-login a:active {
        font-size: .5rem;
    }
}