/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

/*** RESET PAGE CONFIGURATION ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*** DEFINING COLORS AND SIZE ***/
:root{
    --background-color: rgba(0,0,0,0.8);
    --primary-color: rgba(0,0,0,0.8);
}

/*** BODY STYLING ***/
body {
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 0 6%;
}

/*** MAIN SECTION ***/
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    background-color: #FFF;
    padding: 2rem 10% 0 10%;
}
main .title {
    font-family: 'Freehand', cursive;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-decoration: underline;
}

main .gallery-grid {
    max-width: 700px;
    margin: 0 auto;
    min-height: 55vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
main .gallery-grid .post {
    margin: 0 auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
main .gallery-grid .post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* RESPONSIVINESS */
@media (max-width: 420px) {
    body {
        padding: 0;
    }
}

@media (min-width: 720px) {
    main .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}