/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*** RESET PAGE CONFIGURATION ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*** DEFINING COLORS AND SIZE ***/
:root{
    --background-color: rgba(0,0,0,0.8);
    --primary-color: rgba(0,0,0,0.8);
    --secondary-color: rgba(255,255,255,1);
}

/*** BODY STYLING ***/
body {
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** MAIN SECTION ***/
main {
    background-color: var(--secondary-color);
    padding: 2rem;
    font-size: 1.5rem;
}
main .title {
    color: var(--primary-color);
}
main .row {
    position: relative;
    width: 14rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
}
main input[type="email"],
main input[type="password"],
main input[type="text"] {
    width: 100%;
    height: 2rem;
    border: 1px solid var(--background-color);
    border-radius: 0.4rem;
    padding: 0 0.3rem;
}
main input[type="submit"] {
    margin-top: .3rem;
    border-radius: 0.4rem;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
}
main input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/*** FORM STYLING ***/
form #passToggle {
    display: none;
}
form label[for="passToggle"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    background-image: url("../img/eye-open.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
form #passToggle:checked 
    ~ label[for="passToggle"] {
    background-image: url("../img/eye-closed.svg");
}
form #password {
    padding-right: 2.2rem;
}