/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

/*** RESET PAGE CONFIGURATION ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*** DEFINING COLORS AND SIZE ***/
:root{
    --background-color: rgba(0,0,0,0.8);
    --primary-color: rgba(0,0,0,0.8);
    --secondary-color: rgba(255,255,255,1);
    --tertiary-color: rgba(0,0,0,0.3);
}

/*** BODY STYLING ***/
body {
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 0 6%;
}

/*** MAIN SECTION ***/
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    background-color: var(--secondary-color);
    padding: 2rem 10% 0 10%;
}
main > input[type="radio"] {
    display: none;
}
main .nav {
    display: flex;
    gap: .4rem;
    margin-bottom: 3rem;
    
}
main .nav label {
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;
    transition: 200ms;
    font-size: 1.2rem;
}
main input#publish:checked
  ~ .nav label[for="publish"] {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
main input#publications:checked
  ~ .nav label[for="publications"] {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
main input#manage:checked
  ~ .nav label[for="manage"] {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
main .tab {
    display: none;
}

/*** PUBLISH TAB ***/
main input#publish:checked
  ~ #publish {
    display: block;
}
main .tab form {
    width: 25rem;
    display: flex;
    flex-direction: column;
}
main .tab form p {
    font-size: 1.3rem;
}
main .tab form.publish > * {
    margin: 0.4rem 0;
}
main .tab form.publish input{
    width: 100%;
    height: 2rem;
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: 1px solid var(--primary-color);
}
main .tab form.publish textarea{
    width: 100%;
    padding: 0.6rem;
    resize: none;
    height: 10rem;
    border-radius: 0.4rem;
    border: 1px solid var(--primary-color);
}
main .tab form.publish label[for="sendImage"],
main .tab form.publish input[type="submit"] {
    width: max-content;
    height: min-content;
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    outline: 0.0625rem solid var(--primary-color);
    outline-offset: -0.0625rem;
    padding: 0.5rem 1.9rem;
    border-radius: 0.4rem;
    transition: 200ms;
    background-color: var(--secondary-color);
}
main .tab form.publish label[for="sendImage"]:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
}
main .tab form.publish #imageName {
    color: green;
}


/*** PUBLICATIONS TAB ***/
main input#publications:checked
  ~ #publications {
    display: block;
}
main #publications .posts .post {
    display: grid;
    background-color: var(--tertiary-color);
    grid-template-columns: 12rem 20rem;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 0.8rem;
    position: relative;
}
main #publications .posts .post > img {
    width: 100%;
}
main #publications .posts .post .info {
    display: flex;
    flex-wrap: wrap;
    margin: 0.8rem 0.6rem;
}
main #publications .posts .post .info {
    height: max-content;
}
main #publications .posts .post .info .title {
    margin-right: auto;
    margin-bottom: 0.3rem;
}
main #publications .posts .post .info .date {
    margin-left: auto;
}
main #publications .posts .post .info .author {
    margin-right: auto;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
}
main #publications .posts .post .info .description {
    margin-top: 0.4rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: 4.5rem;
    word-wrap: break-word;
}
main #publications .posts .post #deleteButton {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    aspect-ratio: 1/1;
    width: 1.5rem;
}
main #publications .posts .post #deleteButton img {
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/*** MANAGE TAB ***/
main #manage .link-container {
    display: flex;
    justify-content: center;
}
main #manage .register-link {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    outline: 0.0625rem solid var(--primary-color);
    outline-offset: -0.0625rem;
    border-radius: 0.4rem;
    padding: 1rem 1.2rem;
    transition: 200ms;
    background-color: var(--secondary-color);
    margin: auto;
}
main #manage .register-link:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    outline: none;
}
main input#manage:checked
~ #manage {
    display: block;
}
main #manage .users {
    margin-top: 1.5rem;
}
main #manage .users .user {
    display: grid;
    background-color: var(--tertiary-color);
    grid-template-columns: 5rem 20rem;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
    position: relative;
}
main #manage .users .user .id-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
}
main #manage .users .user .option {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 0.5rem;
    gap: 0.5rem;
}
main #manage .users .user .option > * {
    height: 2rem;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
main #manage .users .user .option #showPassword {
    background-image: url(../img/eye-open.svg);
}
main #manage .users .user .option .close#showPassword {
    background-image: url(../img/eye-closed.svg);
}
main #manage .users .user .option #deleteUser {
    background-image: url(../img/trash.svg);
}
main #manage .users .user .info .name span,
main #manage .users .user .info .email span,
main #manage .users .user .info .password input {
    font-size: 1em;
    border: none;
    background: none;
    color: var(--secondary-color);
}


/*** UTILITY CLASSES ***/
.hide {
    display: none;
}
.vl {
    height: 1.8rem;
    border-left: 1px solid var(--primary-color);
}