.card {
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 60%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgb(151, 151, 151);
    background-color: white;
}

.card h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.card form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card input {
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 1px 10px rgb(151, 151, 151);

}

.card input[type=text], .card input[type=password] {
    width: 100%;
}

.card input[type=submit] {
    margin-top: 5px;
}


.card label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    margin: 5px 0;
}

.input-group {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
    width: 70%;
}

@media (max-width: 900px) {
    .input-group {
        width: 100%;
    }
}